@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&family=Work+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap');
/* font-family: 'Playfair Display', serif;
font-family: 'Work Sans', sans-serif; */

:root {
  --primary-1: #e4ffff;
  --primary-2: #80ffff;
  --primary-3: #00ffff;
  --primary-4: #009999;
  --primary-5: #004242;
  --secondary-1: #ffe5f5;
  --secondary-2: #ff80ce;
  --secondary-3: #ff009d;
  --secondary-4: #99005e;
  --secondary-5: #4d002f;
  --tertiary-1: #9effa9;
  --tertiary-2: #75ff83;
  --tertiary-3: #00ff19;
  --tertiary-4: #00b212;
  --tertiary-5: #004707;
  --gray-0: #ffffff;
  --gray-1: #f7f7f7;
  --gray-2: #cfcfcf;
  --gray-3: #9e9e9e;
  --gray-4: #626262;
  --gray-5: #4f4f4f;
  --gray-6: #222222;

  /* Background */
  --bg-color: var(--gray-6);
  --bg-fill: var(--primary-3);

  /* Fonts */
  --body-font: 'Playfair Display', serif;
  --heading-font: 'Work Sans', sans-serif;

  /* Font sizes */
  --baseFontSize: 1rem;
  --smallFontSize: 0.75rem;
  --extraSmallFontSize: 0.512rem;
  --mediumFontSize: 1.25rem;
  --doubleXLFontSize: 5rem;
  --extraLargeFontSize: 4rem;
  --heading-one: 3rem;
  --heading-two: 2.5rem;
  --heading-3: 2rem;
  --heading-four: 1.5rem;
  --heading-five: --var(--baseFontSize);
  --heading-six: --var(--smallFontSize);

  /* Links */
  --linkColor: var(--tertiary-3);
  --linkHoverColor: var(--tertiary-1);

  /* Elevation */
  --elevation-0: inset 0 7px 9 -7px rgba(0, 0, 0, 0.7);
  --elevation-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --elevation-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --elevation-3: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  --elevation-4: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  --elevation-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  --massiveShadow: inset 0 3px 0 0 rgba(110, 110, 110, 1),
    0 10px 3px 10px rgba(0, 0, 0, 0.75), 0 20px 40px 40px rgba(0, 0, 0, 0.45);

  /* Margin */
  --margin: 1.5rem 0 1rem;

  /* Card - border-radius, bg, color, button radius */
  --cardBorderRadius: 5px;
  --cardBgColor: var(--gray-5);
  --cardColor: var(--gray-0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list style */
ul {
  list-style: none;
}

/* Reset forms and buttons */
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

input,
textarea {
  border: 1px solid var(--gray-3);
}

button {
  border: none;
  backgroud-color: transparent;
}

button * {
  pointer-events: none;
}

/* Easy responsive for media elements */
img {
  display: block;
  max-width: 100%;
}

/* Hidden */
[hidden] {
  display: none !important;
}

html {
  font-size: 18px;
}

body {
  font-family: var(--body-font);
  color: var(--gray-0);
  line-height: 1.5;
  background-color: var(--bg-color);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  line-height: 1.15;
  font-weight: bold;
  margin: var(--margin);
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
nav {
  font-family: var(--heading-font);
}

h1 {
  font-size: var(--heading-one);
}
h2 {
  font-size: var(--heading-two);
}
h3 {
  font-size: var(--heading-three);
}
h4 {
  font-size: var(--heading-four);
}
h5 {
  font-size: var(--heading-five);
}
h6 {
  font-size: var(--heading-six);
}

p {
  font-family: var(--body-font);
  line-height: 2rem;
  margin: 1rem 0;
}

a {
  text-decoration: none;
  color: var(--linkColor);
}

a:hover {
  color: var(--linkHoverColor);
  text-decoration: underline;
}

button {
  cursor: pointer;
}
